<mat-toolbar color="primary">
  <span>HEYLEN</span>
  
  <span class="example-spacer"></span>

  <a mat-button [routerLink]="['/formularioMerienda']">[MERIENDA]</a>
  <a mat-button [routerLink]="['/formularioTaxi']">[TAXI]</a>
</mat-toolbar>
