/* Estilo básico para el navbar */
.navbar {
    background-color: #343a40; /* Un color oscuro para el fondo */
    border-bottom: 3px solid #f8c471; /* Una línea naranja en la parte inferior */
}

/* Cambiar el color del texto del navbar a blanco */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* Efecto hover para los links */
.navbar-light .navbar-nav .nav-link:hover {
    color: #f8c471; /* Un color naranja al pasar el cursor */
}

/* Fondo transparente para el menú desplegable */
.dropdown-menu {
    background-color: rgba(52, 58, 64, 0.9); /* Un fondo oscuro con un poco de transparencia */
}

/* Color blanco para el texto del menú desplegable */
.dropdown-item {
    color: white;
}

/* Efecto hover para los ítems del menú desplegable */
.dropdown-item:hover {
    background-color: #f8c471; /* Un color naranja al pasar el cursor */
    color: #343a40; /* Un color oscuro para el texto */
}
