<app-header-tipo-a></app-header-tipo-a>

<form [formGroup]="taxiForm" (ngSubmit)="onSubmit()">

    <div>
        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" formControlName="titulo">
            <div *ngIf="taxiForm.get('titulo')?.invalid && taxiForm.get('titulo')?.dirty">
              <span class="error-message">Este campo es requerido</span>
            </div>
          </div>
        
          <div>
            <label for="detalle">Detalle:</label>
            <input type="text" id="detalle" formControlName="detalle">
            <div *ngIf="taxiForm.get('detalle')?.invalid && taxiForm.get('detalle')?.dirty">
              <span class="error-message">Este campo es requerido</span>
            </div>
          </div>
        
          <div>
            <label for="origen">Origen:</label>
            <input type="text" id="origen" formControlName="origen">
            <div *ngIf="taxiForm.get('origen')?.invalid && taxiForm.get('origen')?.dirty">
              <span class="error-message">Este campo es requerido</span>
            </div>
          </div>
        
          <div>
            <label for="destino">Destino:</label>
            <input type="text" id="destino" formControlName="destino">
            <div *ngIf="taxiForm.get('destino')?.invalid && taxiForm.get('destino')?.dirty">
              <span class="error-message">Este campo es requerido</span>
            </div>
          </div>
        
          <div>
            <label for="distanciaKM">Distancia (KM):</label>
            <input type="number" id="distanciaKM" formControlName="distanciaKM">
            <div *ngIf="taxiForm.get('distanciaKM')?.invalid && taxiForm.get('distanciaKM')?.dirty">
              <span class="error-message">Este campo es requerido y debe ser mayor que 0</span>
            </div>
          </div>
        
          <div>
            <label for="costoBS">Costo (BS):</label>
            <input type="number" id="costoBS" formControlName="costoBS">
            <div *ngIf="taxiForm.get('costoBS')?.invalid && taxiForm.get('costoBS')?.dirty">
              <span class="error-message">Este campo es requerido y debe ser mayor que 0</span>
            </div>
          </div>
    </div>
  
    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
  
    <app-boton-tipo-a (btnClicked)="onSubmit()"></app-boton-tipo-a>

</form>
